@import "globals/bourbon/bourbon";
@import "globals/helpers/call-to-action-button";
@import "globals/helpers/moov-form";
@import "globals/column";

body.hackathon {
  .description {

    ol.numbered {
      border-top: $white 1px solid;

      li {
        margin: 24px 0;
        padding-bottom: 24px;
        line-height: $line-height;

        border-bottom: $white 1px solid;

        div.number {
          height: 36px; width: 36px;
          border-radius: 18px;
          line-height: 36px;
          text-align: center;

          background-color: $blue;
          color: $white;
          @include din-bolder;

          margin-right: 36px;
          float: left;
        }
      }
    }
  }

  .moov-form {
    @include column(2);

    > * { margin: 0 40px; }
    form { @include moov-form(); }

    .fine-print {
      margin-top: 6px;
      font-size: 12px;
    }

    .success-message {
      margin: 0;
      padding: 48px;

      background-color: $green;
      color: white;
      border-radius: 3px;

      h2 {
        @include din-bolder;
        font-size: 18px;
        margin-bottom: 18px;
      }
    }
  }

}
