@import "globals/colors";
@import "globals/helpers/container";
@import "globals/helpers/sticky-footer";
@import "globals/bourbon/css3/inline-block";

@mixin call-to-action-button($color, $height) {
  @include inline-block;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: $color;
  height: $height;
  line-height: ceil($height * 1.1);
  text-align: left;
  border-radius: 3px;
  border-bottom: 2px solid darken($color, 20%);
  text-shadow: 0 1px 1px darken($color, 30%);
  font-size: 16px;
  overflow: hidden;
  cursor: pointer;
  -webkit-user-select: none;
  padding-left: 35px;
  text-decoration: none;

  &:before {
    content: "»";
    color: $yellow;
    display: block;
    float: left;
    font-size: 20px;
    margin: 23px -10px 0 -20px;
    line-height: 0;
    height: 10px;
    width: 10px;
  }
  &:hover {
    border-bottom: 2px solid darken($color, 9%);
    text-shadow: 0 1px 0px darken($color, 15%);
    &:before {
      color: white;
    }
  }
  &:active {
    border-bottom: none;
    border-top: 2px solid darken($color, 15%);
    text-shadow: 0 1px 1px darken($color, 20%);
  }
}

$footer-vertical-padding: 36px;
$button-height: 45px;

/* "3 * $footer-vertical-padding" because we want extra bottom spacing */
$footer-height: ceil(1.1 * $button-height + 3 * $footer-vertical-padding);
@include sticky-footer($footer-height);

footer.page {
  background-color: $light-gray;
  height: $footer-height;
  clear: both;

  .footer-wrapper {
    @include container;
    text-align: right;
    padding-top: 36px;
    padding-bottom: 36px;

    .fine-print {
      margin-top: 12px;
      float: left;
      color: $black;
      p {
        text-align: left;
        font-size: ceil(golden-ratio(16px, -1));
        margin-top: 4px;
      }
    }

    .btn {
      @include call-to-action-button($orange, $button-height);
      width: 260px;
      margin-left: 20px;
    }
  }
}
