@import "globals/colors";
@import "globals/helpers/call-to-action-button";
@import "globals/helpers/container";
@import "globals/helpers/sticky-footer";

$footer-vertical-padding: 36px;
$button-height: 45px;

/* "3 * $footer-vertical-padding" because we want extra bottom spacing */
$footer-height: ceil(1.1 * $button-height + 3 * $footer-vertical-padding);
@include sticky-footer($footer-height);

footer.page {
  background-color: $light-gray;
  height: $footer-height;
  clear: both;

  .footer-wrapper {
    @include container;
    text-align: right;
    padding-top: 36px;
    padding-bottom: 36px;

    .fine-print {
      margin-top: 12px;
      float: left;
      color: $black;
      p {
        text-align: left;
        font-size: ceil(golden-ratio(16px, -1));
        margin-top: 4px;
      }
    }

    .btn-wrapper {
      float: right;
    }

    .btn {
      @include call-to-action-button($orange, $button-height);
      width: 260px;
      margin-left: 20px;
    }
  }
}
