@import "modules/hackathon/submit";
@import "modules/hackathon/register";

body.hackathon {
  #main {
    @include container;

    h1 {
      @include column(4, true);
      line-height: 64px;
      margin-top: 24px;

      font-size: 32px;
      @include font-bolder;
    }

    hr {
      @include column(4, true);
      margin: 18px 0 36px;
    }
  }

  .description {
    @include column(2, true);

    h2 {
      @include font-bolder;
      font-size: 18px;
      color: $orange;
      margin: 0 0 18px;
    }

    p {
      margin: 18px 0;
    }
  }
}
