@import "globals/helpers/container";
@import "globals/column";
@import "globals/colors";
@import "globals/fonts";
@import "globals/sprites";

header.page {
  background: white;

  border-bottom: 1px solid #ccc;

  nav {
    @include container;
    height: 50px;

    > h1 {
      @include column(1, true);
      padding-top: 15px;
      a {
        @include hide-text;
        @include sprites-moovweb-logo;
        display: block;
      }
    }

    > ul {
      @include column(3);
      text-align: right;
      margin-top: 5px;
      li {
        @include inline-block;
        padding: 13px 10px;
        width: 150px;
        line-height: 21px;
        a {
          font-size: 14px;
        }
      }
    }
  }
}

.hero-wrap {
  border-top: 1px white solid;
}
