@import "globals/helpers/container";
@import "globals/column";
@import "globals/colors";
@import "globals/fonts";
@import "globals/sprites";

header.page {
  background: white;

  height: 85px;

  box-shadow-size: 2px;
  box-shadow: 0 $box-shadow-size 0px rgba(0,0,0,0.1),inset 0 0 $box-shadow-size #fff;
  border-bottom: 1px solid #ccc;

  nav {
    @include container;

    > h1 {
      @include column(1, true);
      padding-top: 40px;
      a {
        @include hide-text;
        @include sprites-moovweb-logo;
        display: block;
      }
    }

    > ul {
      @include column(3);
      text-align: right;
      padding-top: 46px;
      li {
        @include inline-block;
        padding-left: 20px;
        a {
          color: $blue;
          @include din-bold;
          text-decoration: none;
        }
      }
    }
  }
}

.hero-wrap {
  margin-top: 2px;
  border-top: 1px white solid;
}
