@import "globals/colors";
@import "globals/bourbon/bourbon";

.image-toggle-control {
  border-radius: 3px;
  overflow: hidden;

  a {
    @include inline-block;
    text-decoration: none;
    padding: 10px;
    background-color: $light-gray;
    color: $medium-gray;
    width: 8em;
    text-align: center;

    &.selected {
      background-color: $orange;
      color: $white;
      font-weight: bold;
    }
  }
}

.image-toggle {
  width: 470px;
  height: 470px;
  overflow: hidden;

  img {
    width: 470px;
    display: none;
    &.selected {
      display: block;
    }
  }
}
