@import "globals/column";
@import "globals/helpers/opacity";
@import "globals/bourbon/functions/modular-scale";

ul.projects li {
  @include column(1);
  &.alpha { @include column(1, true); }

  background: white;
  $li-radius: 5px;
  border-radius: $li-radius;
  @include prefixer(box-shadow, 1px 1px 1px 0 #CDCDCD, spec);

  margin-top: 10px;

  section {
    $section-padding: 5px;
    padding: $section-padding;
    $border-radius: 5px;

    .hoverable {
      $padding: 20px;

      display: none;

      position: absolute;
      z-index: 101;
      @include border-top-radius($border-radius);
      @include border-bottom-radius($border-radius);
      width: column-width(1) - 2 * $section-padding;
      height: column-width(1)- 2 * $section-padding;
      padding: $padding;
      background: black;
      @include opacity(0.8);
      color: white;

      line-height: 1.2;
      h1 {
        font-size: floor(golden-ratio(14px, 1));
        font-weight: bold;
        margin-bottom: 14px;
      }
      h2 {
        font-size: 14px;
      }
    }

    a.img {

      display: block;
      position: relative;

      &:hover .hoverable {
        display: block;
      }

      img {
        @include border-top-radius($border-radius);
        @include border-bottom-radius($border-radius);
        z-index: 100;
      }
    }
  }
}
