@import "globals/column";
@import "globals/fonts";
@import "globals/helpers/ellipsis";
@import "globals/helpers/moov-shadow";

body.projects.show #main {
  @include container;
  padding-top: 32px;

  hr {
    border: 0;
    border-bottom: 1px solid $light-gray;
  }

  .project {
    @include clearfix;

    .header {
      font-size: 14px;

      hgroup {
        h1 {
          font-size: floor(golden-ratio(14px, 2));
          line-height: 1;
          @include font-bolder;
        }

        h2 {
          margin-top: 8px;
          margin-bottom: 18px;
        }
      }

      [data-type="creator"] {
        float: right;
        min-width: column-width(1);
        max-width: ceil(column-width(1.5));

        .avatar {
          float: left;
          height: 50px;
          width: 50px;
          margin-right: 10px;
        }

        .creator-name {
          color: $dark-gray;
          a {
            @include font-bolder;
            color: $black;
            text-decoration: none;
          }
        }

        .homepage {
          margin-top: 8px;
        }

      }
    }

    .two-up {
      > div {
        position: relative;
        background-color: $white;
        padding: 10px;
        border-radius: 3px;
        @include moov-shadow;
      }

      h3 {
        position: absolute;
        top: 30px;
        background-color: $orange;
        @include font-bolder;
        text-transform: uppercase;
        color: $white;
        padding: 4px 8px;
        font-size: 14px;
      }

      .remixed {
        @include column(2, true);
        h3 {
          @include border-left-radius(3px);
          right: $gw-gutter;
        }
      }

      .original {
        @include column(2);
        h3 {
          @include border-right-radius(3px);
          left: $gw-gutter;
        }
      }
    }

    .data, .source-code {
      margin-top: 2 * $gw-gutter;
      border-radius: 3px;
      height: 40px;
      @include moov-shadow;
      a {
        text-decoration: none;
      }
    }

    .data {
      @include column(3, true);
      background-color: $white;
      font-size: 14px;

      padding-top: (36px - 14px) / 2;

      div {
        float: left;
      }

      .urls, .numbers, .social {
        color: $dark-gray;
        border-right: 1px solid $light-gray;
        padding: 0 6px;
        height: 19px;
      }

      .urls {
        a {
          @include font-bold;
          margin-left: 4px;
        }

        .original-icon {
          margin-left: 6px;
          margin-right: 8px;
          @include sprites-remix-icon;
        }

        .remixed-icon {
          margin-left: 20px;
          margin-right: 8px;
          @include sprites-iphone-icon-show;
        }

        .original, .remixed {
          margin-top: 2px;
          a { @include ellipsis(125px); @include inline-block; }
        }
      }

      .numbers {
        line-height: 19px;
        .view-count-icon {
          margin-top: 4px;
          margin-right: 4px;
          @include sprites-eye-icon-show;
        }
      }

      .social {
        line-height: 19px;
        border-right: none;

        .fb-like, .twitter-share-button {
          margin-left: 8px;
        }
      }
    }

    .source-code {
      @include column(1);
      text-align: center;
      line-height: 40px;
      background-color: $blue;
      @include font-bolder;
      a {
        color: $white;
      }
    }

    .meta {
      @include column(2, true);
      @include clearfix;

      > h3 {
        color: $orange;
        text-transform: uppercase;
        font-size: 24px;
        @include font-bolder;
        letter-spacing: 2px;
        margin-top: 24px;
        margin-bottom: 12px;
      }

      section[data-type='extended-description'] {
        margin-top: 24px;
        margin-bottom: 36px;

        h1 { font-size: 24px; line-height: 1.4; @include font-bolder; margin-top: 18px; }
        h2 { font-size: 20px; line-height: 1.2; @include font-bold; }
        h3 { font-size: 16px; @include font-bolder; }
        h4 { font-size: 14px; @include font-bold; }
        p { line-height: 1.4; margin: 12px auto; }
      }
    }
  }

  #disqus_thread {
    @include column(2, true);
    @include clearfix;
    clear: both;
  }

}
