@import "globals/column";
@import "globals/fonts";
@import "globals/helpers/opacity";
@import "globals/helpers/moov-shadow";
@import "globals/bourbon/functions/modular-scale";
@import "globals/bourbon/css3/transition";

ul.projects li {
  @include column(1);
  &.alpha { @include column(1, true); }

  background: white;
  $li-radius: 5px;
  border-radius: $li-radius;
  @include moov-shadow;

  margin-top: 10px;

  section {
    $section-padding: 5px;
    padding: $section-padding;
    $border-radius: 5px;

    .hoverable {
      $padding: 20px;

      /* TRANSITIONS */
      $heading-transition-duration: 0.5s;

      @include transition(all 0.2s linear);
      h1 {
        @include transition(all $heading-transition-duration ease-in);
        margin-top: 285px;
        margin-bottom: 0px;
      }
      &:hover {
        @include transition(all 0.2s linear);
        background-color: rgba(0, 0, 0, 0.8);
        h1 {
          @include transition(all $heading-transition-duration ease-out);
          margin-top: 0px;
          margin-bottom: 14px;
        }
      }
      /* end transitions */

      display: block;

      position: absolute;
      z-index: 101;
      @include border-top-radius($border-radius);
      @include border-bottom-radius($border-radius);
      width: column-width(1) - 2 * $section-padding;
      height: column-width(1)- 2 * $section-padding;
      padding: $padding;
      background-color: rgba(0, 0, 0, 0);
      color: white;
      overflow: hidden;

      line-height: 1.2;

      h1 {
        font-size: floor(golden-ratio(14px, 1));
        @include din-bold;
      }
      h2 {
        font-size: 14px;
      }
    }

    a.img {

      display: block;
      position: relative;
      margin-bottom: 8px;

      img {
        width: 215px;
        height: 215px;
        @include border-top-radius($border-radius);
        @include border-bottom-radius($border-radius);
        z-index: 100;
      }
    }

    a {
      font-size: 12px;
      line-height: 11px;
      text-decoration: none;
    }

    [data-type="view-count"] {
      font-size: 12px;
      line-height: 11px;
      float: right;
      display: block;
      background: image-url('eye-small.png') no-repeat 0 50%;
      color: $dark-gray;
      padding-left: 20px;
    }

    [data-type="remixed-url"] {
      background: image-url('icon-iphone-small.png') no-repeat 0 50%;
      display: block;
      margin-top: 4px;
      padding-left: 12px;
      color: $dark-gray;
      text-transform: uppercase;
    }

    [data-type="author"] {
      display: block;
      clear: both;
      background: image-url('slashes.png') repeat-x 0 0;
      padding-top: 12px;
      padding-bottom: 8px;
      margin-top: 8px;
    }

  }
}
