// Site-wide styles go here
// What shouldn't go here
//   - global declartive classes, mixins, or variables, that goes in -lib.scss

@import "bourbon/_bourbon";
@import "globals/fonts";
@import "globals/colors";
@import "globals/variables";

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  @include font-regular;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a, a:visited, a:hover, a:active {
  color: $blue;
  text-decoration: none;
}

strong {
  @include font-bolder;
}

p {
  line-height: $line-height;
}
