@import "globals/variables";

@function column-width($n) {
  @return $n * $gw-column + ($n - 1) * 2 * $gw-gutter;
}

@mixin column($n, $alpha: false) {
  width: column-width($n);
  float: left;

  @include vertical-inline-block(top);

  @if ($alpha) {
    clear: left;
    margin-left: 0;
  } @else {
    margin-left: 2 * $gw-gutter;
  }
}
