$black:       #221f20;
$dark-gray:   #808083;
$medium-gray: #B2B5b7;
$light-gray:  #D8D9DB;
$white:       #FFFFFF;

$background-color: #EEE;

$blue:        #22A5E2;
$orange:      #F36621;
$red:         #D34044;
$yellow:      #FCDD4C;
