@font-face {
  font-family: 'din-bolder';
  src: image-url('fonts/din-bold-webfont.eot');
  src: image-url('fonts/din-bold-webfont.eot?#iefix') format('embedded-opentype'), image-url('fonts/din-bold-webfont.woff') format('woff'), image-url('fonts/din-bold-webfont.ttf') format('truetype'), image-url('fonts/din-bold-webfont.svg#din-boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-bold';
  src: image-url('fonts/din-medium-webfont.eot');
  src: image-url('fonts/din-medium-webfont.eot?#iefix')
  format('embedded-opentype'), image-url('fonts/din-medium-webfont.woff') format('woff'), image-url('fonts/din-medium-webfont.ttf') format('truetype'), image-url('fonts/din-medium-webfont.svg#din-mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din';
  src: image-url('fonts/din-regular-webfont.eot');
  src: image-url('fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'), image-url('fonts/din-regular-webfont.woff') format('woff'), image-url('fonts/din-regular-webfont.ttf')
  format('truetype'), image-url('fonts/din-regular-webfont.svg#din-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'din-italic';
  src: image-url('fonts/din-regularitalic-webfont.eot');
  src: image-url('fonts/din-regularitalic-webfont.eot?#iefix') format('embedded-opentype'), image-url('fonts/din-regularitalic-webfont.woff') format('woff'), image-url('fonts/din-regularitalic-webfont.ttf') format('truetype'), image-url('fonts/din-regularitalic-webfont.svg#din-regularitalicregular')
  format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin din-bolder {
  font-family: 'din-bolder'
}

@mixin din-bold {
  font-family: 'din-bold'
}

@mixin din-regular {
  font-family: 'din'
}

@mixin din-italic {
  font-family: 'din-italic'
}
